.container {
    max-width: 1200px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.checkboxGroup {
    margin-top: 15px;
    width: 1000px;
}

.checkboxGroup label {
    margin-right: 15px;
}
